
/* form{
    margin-left: 25%;
    margin-right:25%;
    width: 70%;
} */
mat-form-field{
    width: 50%;
    font-size: 16px;
  color: blue;
  }
 
  .add{
    display: flex;
  flex-direction: column;
  padding-left: 30%;
  font-size: 16px;
  color: blue;
  border: solid 1px #c0c0ff;
  }