<app-header [navigationitems]="userSideNavigationdata"></app-header>


<form [formGroup]="form" (ngSubmit)="save()">
  <div class="add">
    <div>
      <h1></h1>
    </div>
    <div>
      <mat-form-field appearance="outline">
        <mat-label>Physician Name</mat-label>
        <mat-select formControlName="employee" (selectionChange)="showPhysicianId($event.value)">
          <mat-option
            *ngFor="let data of listOfPhysician"
            [value]="data"
            >{{ data.firstName }}</mat-option
          >
        </mat-select>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="outline">
        <mat-label>Physician Id</mat-label>
        <input matInput value={{physicianId}} readonly/>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="outline">
        <mat-label>Date</mat-label>
      <input matInput [matDatepicker]="picker" [min]="todayDate"
      placeholder="Choose a date" (dateInput)="appointmentDateSelectEvent($event)">
      <mat-datepicker-toggle matSuffix [for]="picker" ></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="outline">
        <mat-label>Appointment Time Slot</mat-label>
        <mat-select formControlName="time"
        ><mat-option *ngFor="let data of listOfTimeSlot" [value]="data">{{
            data
          }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="form">
      <div>
        <!-- <h2>Patient Description</h2> -->
        <div>
          <mat-form-field appearance="outline">
            <mat-label>Patient Id</mat-label>
            <mat-select (selectionChange)="showPatientName($event.value)" formControlName="patient"
            >
              <mat-option
                *ngFor="let data of listOfPatient"
                [value]="data"
                >{{ data.id }}</mat-option
              >
            </mat-select>
          </mat-form-field>
        </div>

        <div>
          <mat-form-field appearance="outline">
            <mat-label>Patient Name</mat-label>
            <input matInput value={{patientName}} readonly/>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field appearance="outline">
            <mat-label>Descriptive Info</mat-label>
              <textarea matInput formControlName="description"></textarea>
            
          </mat-form-field>
        </div>
      </div>

      <div>
        <button mat-raised-button color="primary" [disabled]="false" style="margin-bottom: 2%;">Save</button>
      </div>
    </div>
  </div>
</form>

<app-footer></app-footer>
